.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.row-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.row-img {
  border-radius: 50%;
  height: 10vh;
}
.row-title {
  font-size: 2rem;
}
.row-subtitle {
  font-size: 1rem;
}

.pointer {
  cursor:pointer;
}
