.conteiner-content{
    display: flex;
    justify-content: center;
    
   
}
.conteiner-content .conteiner-esquero{
    display: flex;
    flex-direction: column;
    width: 25%;
    
   
}
.conteiner-content .conteiner-direito{
    width: 75%;
    margin: 10px;
    margin-left: 20px;
    margin-right: 25px;
   
}
