.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
   
}

.nav-container .logo-container img {
    width: 200px;
    margin: 10px;
    margin-left: 100px;
    

} 
.nav-container .button-container {
    margin-right: 15px;
    width: 12%;
} 

.nav-container .button-container img {
    width: 18px;
    fill: #858796;
} 



